body {
    background-color: lightgrey;
}
.textcolor {
    color: cadetblue;
}
/* this is for the table of data in data.html */
.datadiv {
    position: relative;
    top: 25px;
    left: 10px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.comparisonlabels{
    color: cadetblue;
    font-size: 25px;
    font-family: Georgia;

}

@media(max-width: 767px){

.comparisonlabels{
    visibility: hidden;
}
}